<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout ::head"></head>
<body>

	<!-- BARRA DEL NAVEGADOR -->

	<header th:replace="layout/layout ::header"></header>


	<!-- CONTAINER CON LOS DATOS DE LA TABLA DE BBDD-->

	<div class="container py-4">


		<!-- TITULO DE LA PAGINA -->
		<div class="card bg-secondary text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<!-- MOSTRAR ERRORES ARRIBA DE LA PAGINA  -->

				<div th:object="${cliente}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('nombre')}"
						class="alert alert-danger" role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text=${err}></li>

					</ul>
				</div>

				<!-- FORMULARIO -->
				
				<!-- tiene accion , el mapping y el metodo -->
				<!-- multipart permite subir archivos al servidor -->
				<form th:action="@{/form}" th:object="${cliente}" method="post" enctype="multipart/form-data">

					<div class="form-group row">
						<label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombre}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="text-danger" th:if="${#fields.hasErrors('nombre')}"
								th:errors="*{nombre}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{apellido}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="text-danger" th:if="${#fields.hasErrors('apellido')}"
								th:errors="*{apellido}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="email" class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{email}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="text-danger" th:if="${#fields.hasErrors('email')}"
								th:errors="*{email}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="createAt" class="col-sm-2 col-form-label">Fecha</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{createAt}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="text-danger" th:if="${#fields.hasErrors('createAt')}"
								th:errors="*{createAt}"></small>
						</div>
					</div>
					
					<div class="form-group row">
						<label for="file" class="col-sm-2 col-form-label">Foto</label>
						<div class="col-sm-6">
							<input type="file" name="file" class="form-control" />
						</div>
					</div>
					
					

					<div class="form-group row">
						<input type="submit" value="Guardar" class="btn btn-light text-dark" />
					</div>



					<!--	<input type="hidden" th:field="*{id}" />  sustituido por  @SessionAttributes("cliente") en ClienteController  -->

				</form>
			</div>
		</div>
	</div>

	<!-- FOOTER  -->
	<footer th:replace="layout/layout ::footer"></footer>

</body>
</html>